/* You can add global styles to this file, and also import other style files */
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar {
  position: relative;
  z-index: 2;
}

table {
  width: 100%;
}

.table_container{
  max-height: 390px;
  width: 100%;
}

.mat-table{
  border-collapse: collapse;
  border-radius: 0.5em;
  overflow: hidden;
}

th.mat-header-cell{
  font-size: 12px;
  color:darkslateblue;
  z-index: 40 !important;
  margin-top: -1px;
  border-bottom-style: none;
}
  
td.mat-cell{
  font-size: 12px;
  padding-left: 30px;
  align-self: stretch;
}