  
@mixin crm-nav-theme($theme) {

    $nav-list-icon-padding: 12px !default;
    $toolbar-title-padding: 16px !default;
  
    .list-item-active {
      font-weight: bold;
      color: mat-color(map-get($theme, accent), darker) !important;
      background: rgba(0, 0, 0, 0.04);
    }
  
    .nav-list-icon {
      margin: 0 $nav-list-icon-padding 0 $nav-list-icon-padding;
    }
  
    .toolbar-title {
      margin: 0 $toolbar-title-padding 0 $toolbar-title-padding;
    }

    .sidenav-container {
      z-index: -1 !important;
    }
  }