<mat-sidenav-container style="height: calc(100% - 64px); margin: 0;">
  <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" style="width: 240px" closed>
      <mat-nav-list dense>
          <mat-list-item [routerLink]="'/home-user'"><mat-icon>dashboard</mat-icon>Inicio</mat-list-item>
          <mat-list-item [routerLink]="'/transactions'"><mat-icon>check_box</mat-icon>Mis transferencias</mat-list-item>
          <mat-list-item [routerLink]="'/profile'"><mat-icon>person</mat-icon>Perfil</mat-list-item>
          <!-- <mat-expansion-panel [class.mat-elevation-z0]="true" dense>
            <mat-expansion-panel-header>
              Mantenedores
            </mat-expansion-panel-header>
            <mat-nav-list dense>
              <a mat-list-item [routerLink]="'/admin-users'">
                <mat-icon matListIcon>group</mat-icon>
                Administradores
              </a>
              <a mat-list-item [routerLink]="'/admin-profiles'">
                <mat-icon matListIcon>how_to_reg</mat-icon>
                Perfil Administrador
              </a>
              <a mat-list-item [routerLink]="'/countries'">
                <mat-icon matListIcon>vpn_lock</mat-icon>
                Países
              </a>      
              <a mat-list-item [routerLink]="'/schools-by-country'">
                <mat-icon matListIcon>school</mat-icon>
                Universidades
              </a>
            </mat-nav-list>
          </mat-expansion-panel> -->
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>