<div>
  <h2>Registrar usuario</h2>
  <button mat-icon-button (click)="close()" class="btn pull-right">
    <mat-icon>close</mat-icon>
  </button>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput #rutInput formControlName="rut" placeholder="Rut de usuario" (change)="formatRut()" required>
      <mat-error *ngIf="form.get('rut').invalid">{{getErrorMessageRut()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="firstName" placeholder="Nombre" required>
      <mat-error *ngIf="form.get('firstName').invalid">{{getErrorMessageFirstName()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="lastName" placeholder="Apellido" required>
      <mat-error *ngIf="form.get('lastName').invalid">{{getErrorMessageLastName()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="email" placeholder="Email" required>
      <mat-error *ngIf="form.get('email').invalid">{{getErrorMessageEmail()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="password" placeholder="Contraseña" required [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide" class="eye">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="form.get('password').invalid">{{getErrorMessagePassword()}}</mat-error>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <div align="center">
      <button mat-fab type="submit" color="primary"
        [disabled]="form.get('rut').invalid || form.get('firstName').invalid || form.get('lastName').invalid || form.get('email').invalid || form.get('password').invalid">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </div>
</form>