header {
  background-color: black;
  color: white;
  height: auto;
  padding: 25px;
}

.nav-icon {
  padding: 0 14px;
}

.nav-spacer {
  flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
  background: #6f42c1;
}