<mat-toolbar color="primary" class="mat-elevation-z8">
    <a>
        <img style="width: 2.4em;" src="../../../assets/logo.png">
    </a>
    <span class="nav-spacer"></span>
    <!-- <span>Mi cuenta</span> -->
    <!-- <span class="nav-spacer"></span> -->
    <button mat-icon-button matTooltip="Mi Perfil">
        <mat-icon class="nav-icon">account_circle</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon matBadge="15" matBadgeColor="warn" matBadgePosition="above after">
            notifications
        </mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu" yPosition="above">
        <button mat-menu-item href="" (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
            Cerrar Sesión
        </button>
    </mat-menu>
</mat-toolbar>