.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}

.container {
  padding: 2em;
  height: 100vh;
  /* display: flex;
      justify-content: center;
      align-items: center; */
}

.title-transfers {
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
}

.amount {
  padding: 1em;
  color: green;
  font-size: 4em;
  font-weight: bold;
}
