<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <fa-icon [icon]="famoneybill"></fa-icon>
      </div>
      <mat-card-title>Cuenta Corriente de {{userData.first_name}} {{userData.last_name}}</mat-card-title>
      <mat-card-subtitle>{{userData.rut}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="text-center">
      <h1 class="amount">${{totalAmount | number:'':'es'}}</h1>
      <p>Saldo Contable: ${{totalAmount | number:'':'es'}}</p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="text-center">
      <button mat-button color="accent" (click)="transaction(0)">CARGAR</button>
      <button mat-button color="accent" (click)="transaction(1)">RETIRAR</button>
      <button mat-button color="primary" (click)="makeTransfer()">TRANSFERIR</button>
    </mat-card-actions>
  </mat-card>
  <div class="title-transfers">
    <div class="text-center">
      <h1>Movimientos</h1>
      <mat-form-field appearance="outline">
        <mat-label>Búsqueda</mat-label>
        <input matInput placeholder="Buscar..." (keyup)="filter($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <span style="margin-left: 60%;"></span>
      <button mat-raised-button color="primary" (click)="loadDataUser()">
        <mat-icon matSuffix>refresh</mat-icon>Actualizar
      </button>
    </div>
  </div>
  <mat-progress-bar *ngIf="loadingData" mode="indeterminate"></mat-progress-bar>
  <table *ngIf="!loadingData" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Nro. Documento</th>
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="receptor">
      <th mat-header-cell *matHeaderCellDef>Destinatario</th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} {{element.last_name}} </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Tipo de movimiento</th>
      <td mat-cell *matCellDef="let element"> <a *ngIf="element.type == 0">Abono</a> <a
          *ngIf="element.type == 1">Cargo</a> <a *ngIf="element.type == 2">Transferencia</a> </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Fecha y Hora</th>
      <td mat-cell *matCellDef="let element"> {{element.created_at | date: 'dd-MM-yyyy HH:mm:ss'}} </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Monto</th>
      <td mat-cell *matCellDef="let element"> <a style="font-weight: bold;"
          [ngStyle]="element.type == 0 || (element.type == 2 && element.rut_receiver == userData.rut)?{'color':'green'} : {'color': 'red'}"><a
            *ngIf="element.type == 1 || (element.type == 2 && element.rut == userData.rut)">-</a><a
            *ngIf="element.type == 0 || (element.type == 2 && element.rut_receiver == userData.rut)">+</a>
          ${{element.amount | number:'':'es'}} </a> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>