<div class="container-fluid p-0 text-center" @show>
    <div class="row">
        <div class="col-4 p-0 imgLogin">
            <!-- <img src={{urlLogo}} class="logoUni" alt=""> -->
        </div>
        <mat-card class="col-8">
            <mat-card-header>
                <mat-card-title>¡Bienvenido!</mat-card-title>
            </mat-card-header>
            <form (ngSubmit)="onSubmit()" style="margin-top: 20em;" #f="ngForm" novalidate>
                <!-- Input RUT -->
                <div class="col-12 p-0 text-center">
                    <mat-form-field class="example-full-width widthInputs" appearance="outline">
                        <input matInput #rutInput maxlength="12" [formControl]="rut" placeholder="Rut"
                            (change)="formatRut()" required>
                        <mat-error *ngIf="rut.invalid">{{getErrorMessageUser()}}</mat-error>
                    </mat-form-field>
                </div>
                <!-- Input Password -->
                <div class="col-12 p-0 text-center">
                    <mat-form-field class="widthInputs" appearance="outline">
                        <input matInput [formControl]="password" placeholder="Contraseña" required
                            [type]="hide ? 'password' : 'text'">
                        <mat-icon matSuffix (click)="hide = !hide" class="eye">{{hide ? 'visibility_off' :
                            'visibility'}}</mat-icon>
                        <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
                    </mat-form-field>
                </div>
                <!-- Remember me checkbox -->
                <!-- <mat-checkbox>¿Recordarme?</mat-checkbox> -->
                <div class="row ml-2">
                    <div *ngIf="!loadingData" class="col-12 p-0 text-center">
                        <mat-card-actions>
                            <button class="enterText" type="button" (click)="register()" mat-button color="primary" class="enterText">
                                REGISTRARSE
                            </button>
                            <button class="enterText" [disabled]="rut.invalid || password.invalid" mat-raised-button
                                color="primary" type="submit" class="enterText">
                                INGRESAR
                            </button>
                        </mat-card-actions>
                    </div>
                    <mat-spinner style="margin: 0 auto" *ngIf="loadingData" [diameter]="30"></mat-spinner>
                </div>
            </form>
        </mat-card>
    </div>
</div>