<div>
  <h2>Hacer una transferencia</h2>
  <span fxFlex></span>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
      <mat-form-field>
        <input matInput #rutInput formControlName="rut" placeholder="Rut destinatario" (change)="formatRut()" (keyup)="cleanUserName()" required cdkFocusInitial>
        <mat-error *ngIf="form.get('rut').invalid">{{getErrorMessageRut()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="first_name" placeholder="Nombre destinatario" required>
        <mat-error *ngIf="form.get('first_name').invalid">{{getErrorMessageFirstName()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="last_name" placeholder="Apellido destinatario" required>
        <mat-error *ngIf="form.get('last_name').invalid">{{getErrorMessageLastName()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="description" placeholder="Ingrese una descripción" required>
        <mat-error *ngIf="form.get('description').invalid">{{getErrorMessageDescription()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" pattern="[0-9]*" formControlName="amount" placeholder="Ingrese Monto" required
          numbersOnly>
        <mat-error *ngIf="form.get('amount').invalid">{{getErrorMessageAmount()}}</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <div align="center">
        <button mat-fab type="submit" color="primary"
          [disabled]="form.get('rut').invalid || 
        form.get('description').invalid || form.get('first_name').invalid || form.get('last_name').invalid || form.get('amount').invalid">
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>