<div>
  <h2>{{title}}</h2>
  <span fxFlex></span>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
      <mat-form-field>
        <input matInput type="text" pattern="[0-9]*" formControlName="amount" placeholder="Ingrese Monto" required cdkFocusInitial numbersOnly>
        <mat-error *ngIf="form.get('amount').invalid">{{getErrorMessageAmount()}}</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <div align="center">
        <button mat-fab type="submit" color="primary" [disabled]="form.get('amount').invalid">
          <mat-icon>check</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>